<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MySqlTravelAgency" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=turisticka_agencija_2;UserId=tatjana;Password=lozinka;" />
  </connectionStrings>
  <appSettings>
    <add key="TravelAgencyFactory" value="MySql"/>
  </appSettings>
</configuration>